<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"    
        versionCode="10" 
        version   = "4.0.0"
>



    <name>Feria Internacional del Libro Monterrey</name>

    <description>
         Podrás consultar los avisos importantes de última hora, cambios de sala, horario, entre otra información sobre las
          actividades del Programa Cultural de la Feria Internacional del Libro Monterrey. 
          Los avisos aquí desplegados se actualiza constantemente, por lo que le sugerimos revisarlos frecuentemente para 
          tener la información más reciente.
    </description>

    <author href="http://biblioteca.mty.itesm.mx" email="ijelizondo@itesm.mx">
        Tecnología e Innovación
    </author>

    <icon src="icons/Feed_128x128_fil.png" />
    
    <preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" /> <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    
    <gap:splash src="splash.png" />
    
    
</widget>